{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="not-found">
        <div class="col-md-5 col-lg-4 col-lg-offset-1 sm-hidden xs-hidden">
            <img class="img-responsive" alt="Page not found" src="{{ url_for('static', filename='Images/404.jpg')}}">
        </div>
        <div class="col-md-7 col-lg-6">
            <div class="not-found-content">
                <h2>
                    Oops! Page not found...
                </h2>
                <p>
                     It seems that page you requested doesn't exist.
                    
                    <p>Head back to homepage using the navigation or contact us.</p>
                </p>
                <a href="{{ url_for('home.index')}}" class="btn">
                    Go back to Home
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
