{% extends "base.html" %}
{% block content %}
    {% for article in articles %}
    <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="article-tile">
            <a href="{{article.url_pattern}}">
                <img src='{{ article.teaser_image[0].url }}' class="img-responsive" />
            </a>
            <div class="article-tile-date">
                {{ article.post_date.strftime('%B %d') }}
            </div>
            <div class="article-tile-content">
                <h2 class="h4">
                    <a href="/articles/{{article.url_pattern}}">{{ article.title }}</a>
                </h2>
                <p class="article-tile-text">
                    {{ article.summary }}
                </p>
            </div>
        </div>
    </div>
      {% if loop.index % 4 == 0%}
        <div class = "clear"></div>
      {% endif %}
    {% endfor %}
  
{% endblock %}
